<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>RandomCat</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <div class="container exmpl">
        <div class="block wrapper exmpl">
            <img :src="imgSrc" alt="">   
        </div>
        <div class="blockForm">
            <div class="call">
                <button v-on:click="generationCats">Позвать кота</button>
                <input v-model="message" placeholder="позови меня" />
            </div>
            <div class="call">
            <span>Выбери цвет текста</span>
            <select v-model="newColor">
                <option v-for="color in this.selectedColor">{{color}}</option>
              </select>
            </div>
              <div class="call">
              <span>Выбери размер текста</span>
              <select v-model="newSize">
                <option v-for="size in this.selectedSize">{{size}}</option>
              </select>
            </div>
            <div class="call">
        <div id="v-model-select">
            <button v-on:click="gifCat">Гиф кот</button>
        </div>
        <div class="call">
            <select v-model="selected">
              <option v-for="tag in this.tags">{{tag}}</option>
            </select>
            <button v-on:click="tagCat">Позвать кота по тегу</button>
            </div>
        </div>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            info: null,
            idImg: null,
            message: null,
            imgSrc:null,
            tags: null,
            tagSrc: null,
            test: null,
            e: null,
            selected: [],
            selectedSize:[24,34,45],
            newSize: [],
            selectedColor: ['red','green','blue'],
            newColor: []
        },
        methods: {
            generationCats(){
                this.e++;
                this.idImg = this.info[this.e]._id;
             
                if (this.message === null) {
                    this.imgSrc = 'https://cataas.com/cat/'+this.idImg
                }
                               
                else {
                    this.imgSrc = 'https://cataas.com/cat/'+this.idImg+'/says/'+this.message+'?fontSize='+this.newSize+'&fontColor='+this.newColor
                }
                this.message = null;
                console.log(this.tags)
                console.log(this.selected)
            },
            tagCat (){
                this.imgSrc = 'https://cataas.com/cat/'+this.selected ;
                console.log(this.tags)
            },
            gifCat () {
                this.imgSrc = 'https://cataas.com/cat/gif' ;
            }

        },
        beforeMount () {
            axios.get('https://cataas.com/api/cats?limit=50&skip=0')
                .then(response => this.info = response.data);  
                axios.get('https://cataas.com/api/tags')
                .then(response => this.tags = response.data);   
        }
    });
</script>
</body>
</html>